<div style="page-break-before: always;">
<table  style="border-spacing: initial; page-break-before: always; border-collapse: collapse; background: #F0F0F0; width: 100%; margin: 5px auto; position: relative; border: 1px solid #E3F1D5; line-height: 1.625; color: darkslategray; font-family: Nunito, sans-serif;"  align="center" >
    <tbody>
        <tr style=" font-size: 16px; border: 1px solid #E3F1D5; ">
            <td style="width: 100%; font-size: 16px; margin: 10px; padding: 6px; text-align: center; background-color: #EC7A19"
                colspan="2">
                <strong><%= headerTitle %></strong>
            </td>
        </tr>
        <tr style=" font-size: 15px; border: 1px solid #E3F1D5; ">
            <td style="width: 50%; text-align: left; padding: 8px; ">
                <p><strong>Project Common Location Name</strong></p>
            </td>
            <td style="width: 50%; text-align: left; padding: 8px;  border-left: groove;  ">
                <p><strong><%= projectcommonLocationName %></strong></p>
            </td>
        </tr>
        <tr style=" font-size: 15px; border: 1px solid #E3F1D5;  background: #C0C0C0;">
            <td style="width: 50%; text-align: left; padding: 8px; ">
                <p><strong>Location Name</strong></p>
            </td>
            <td style="width: 50%; text-align: left; padding: 8px;  border-left: groove;  ">
                <p><strong><%= locationName %></strong></p>
            </td>
        </tr>
    </tbody>
</table>
</div>